body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css');

.circle-img {
  border-radius: 50% !important;
  width: 100px;
  margin: 20px;
}

.friends-card {
  min-height: 300px;
}
